# This is Git's per-user configuration file.
[user]
	name = Todd Burlington
	email = Todd.Burlington@bbc.co.uk
[user]
	email = 05tb@users.noreply.github.com
	name = Todd Burlington
[core]
	editor = vi
	excludesfile = ~/.gitignore_global
	autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
